@font-face {
  font-family: "StratumNo1 Light";
  src: url("../fonts/StratumNo1 Light.ttf") format("truetype");
}

@media only screen and (max-width: 768px) {
    #content {
        width: 100%;
        padding: 0px 16px 0px 16px;
    }
}

@media only screen and (min-width: 768px) {
    #content {
        width: 64%;
    }
}


:root {
    --falcod-blue: rgba(0, 173, 239, 1);
    --falcod-blue-dark: rgba(0, 142, 186, 1);
    --falcod-blue-light: rgba(148, 217, 244, 1);
    --falcod-blue-bkgd: rgba(0, 173, 239, .2);
    --falcod-blue-bkgd-dark: rgba(0, 142, 186, .6);
    --falcod-blue-bkgd-light: rgba(0, 173, 239, .5);
    --falcod-orange: #EF5B2A;
    --falcod-orange-dark: #DC3928;
    --falcod-white: #E6E6E6;
}

* {
  font-family: "StratumNo1 Light", serif;
  margin: 0;
  padding: 0;
}

#page_content a, #page_content a:hover, #page_content a:visited {
    color: var(--falcod-blue-dark)
}

body {
  background: var(--falcod-white);
}

canvas {
  position: fixed;
  z-index: -1;
}

div > a {
    color: #FFF;
    text-decoration: none;
}

div > a:hover {
    color: #FFF;
    text-decoration: underline;
}

h1 {
  font-family: "StratumNo1 Light", serif;
  font-size: 3.5rem;
  font-weight: bolder;
}

h2 {
  font-family: "StratumNo1 Light", serif;
  font-size: 2.75rem;
  font-weight: bolder;
  margin-bottom: 20px;
}

h3 {
    font-weight: bolder;
}

html {
  font-size: 12pt;
}

nav {
    /* nav bottem edge fade effect */
    /*-webkit-box-shadow: 0px 18px 24px 20px #EF5B2A;
    box-shadow: 0px 18px 24px 20px #EF5B2A;*/
    font-size: 1rem;
}

ul {
    list-style-position: inside;
    padding-left: 12px;
}

.announcement {
    padding: 8px;
}

.announcement-body {
    color: #000;
}

.announcement-timestamp {
    color: var(--falcod-orange);
    font-weight: bold;
}

.blue {
  color: var(--falcod-blue);
}

.cent {
  position: absolute;
  margin: 0 auto;
}

.falcod-pane {
  background: var(--falcod-blue-bkgd-dark);
  border: 1px solid var(--falcod-blue-light);
  color: white;
  font-family: "StratumNo1 Light", serif;
  font-size: 1rem;
  margin: 0px 0px 20px 0px;
  padding: 20px 20px 20px 20px;
}

.falcod-pane img {
  margin-bottom: 10px;
}

.falcod-pane .col-sm-6 {
	padding: 0px;
}

.falcod-pane .falcod-pane-white {
  background-color: var(--falcod-white);
  color: #000;
  padding: 15px 20px 15px 20px;
}

footer {
    padding-bottom: 20px;
}

footer > div > a {
    color: #000;
}

footer > div > a:hover {
    color: #000;
}

.header-btn {
	color: #FFF;
	font-weight: bold;
	margin-right: 15px;
}

.header-btn:hover {
	color: #FFF;
	text-decoration: underline;
}

.orange {
  color: var(--falcod-orange);
}

.paragraphs {
    color: #000;
    font-size: 18px;
}

.subtitle {
  font-family: "StratumNo1 Light", serif;
  font-size: 1rem;
  font-weight: bold;
  margin-top: -10px;
}

#announcements {
     background-color: var(--falcod-white);
     height: 256px;
     max-height: 256px;
     overflow-y: scroll;
}

#content {
    color: white;
    margin: auto;
    background: rgba(255, 255, 255, 0);
}

#header {
	background-color: var(--falcod-orange)
}

#header-btns {
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

#splash {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)),
    url("../images/codeBlurred.jpg");
  background-size: 100%;
  height: 500px;
}

#splash-subtitle {
  font-size: 1.35rem;
  text-align: center;
}

#splash-text {
  position: relative;
  top: 50%;
  transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
}

#splash-title {
  text-align: center;
}

#wrapper {
  /*background: var(--falcod-blue-bkgd);*/
  margin-top: 50px;
}
